// RTL Media objects
// --------------------------------------------------


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  padding-right: 0;
  padding-left: none;
  list-style: none;
}
