// Typography
// -------------------------
@rtl-font-family-sans-serif:  "Iranian Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@rtl-font-family-serif:       Georgia, "Times New Roman", Times, serif;
@rtl-font-family-base:        @rtl-font-family-sans-serif;

@rtl-headings-font-family:    @rtl-font-family-base;

body {
    direction: rtl;
    font-family: @rtl-font-family-base;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @rtl-headings-font-family;
}

// Brand/project name

.navbar-brand {
  float: right;
    
  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container & {
      margin-right: -@navbar-padding-horizontal;
      margin-left: 0;
    }
  }
}

// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
    
  @media (min-width: @grid-float-breakpoint) {
    float: right;
  }
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  float: left;
  margin-left: @navbar-padding-horizontal;
}

// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.navbar-form {
  margin-left: -@navbar-padding-horizontal;
  margin-right: -@navbar-padding-horizontal;
}

// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.

.navbar-text {
  float: right;

  @media (min-width: @grid-float-breakpoint) {
    margin-left: @navbar-padding-horizontal;
    margin-right: @navbar-padding-horizontal;
  }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with it's own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {

  @media (max-width: @screen-xs-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      > li > a,
      .dropdown-header {
        padding: 5px 25px 5px 15px;
      }
    }
  }

  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    float: right;

    > li {
      float: right;
    }
  }

}

// progress-bar

// Bar of progress
.progress-bar {
  float: right;
}

// Alerts

// Dismissable alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable {
 //padding-left: (@alert-padding + 20);

  // Adjust close link position
  .close {
    font-family: @font-family-base;
    top: -2px;
    left: 21px;
    right: 0px;
  }
}

//
// Close icons
// --------------------------------------------------

.close {
  font-family: @font-family-base;
  float: left;
}


//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  margin-right: 2px;
}

// The dropdown menu (ul)
.dropdown-menu {
  right: 0;
  float: left;
  left: auto;
    
  // Aligns the dropdown menu to left
  &.pull-left {
    left: 0;
    float: right;
    right: auto;
  }
}

// Left aligned dropdowns
.pull-left > .dropdown-menu {
  left: 0;
  float: right;
  right: auto;
}

// Right aligned menus need alt position
.navbar-nav.pull-left > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-left {
  right: auto;
  left: 0;
}

// Justified navbar

.nav-tabs-justified {

  > li > a {
    margin-left: 0;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }
  }
}

// Give the tabs something to sit on
.nav-tabs {
  > li {
    float: right;

    // Actual tabs (as links)
    > a {
      margin-left: 2px;
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: right;

    // Links rendered as pills
    > a {
      border-radius: @nav-pills-border-radius;
    }
    + li {
      margin-right: 2px;
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    + li {
      margin-right: 0; // no need for this gap between nav items
    }
  }
}

// Base nav class

.nav {
  padding-right: 0; // Override default ul/ol
}